/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

#header {
  padding-bottom: 108px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 116px;
}

.header__list {
  display: flex;
  margin-left: 352px;
}

.header__item {
  margin-left: 42px;
}

.header__item_link {
  color: #828282;
  text-align: right;
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.5px;
}

.header__btn {
  color: #fff;
  border: none;
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.5px;
  padding: 20px 26px;
  border-radius: 10px;
  background-color: #828282;
  margin-left: 40px;
  cursor: pointer;
}

#hero {
  padding-bottom: 150px;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  max-width: 635px;
}

.hero__title {
  color: #828282;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 25px;
}

.hero__text {
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 39px;
}

.hero__link_flex {
  display: flex;
}

.hero__one_link {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.5px;
  border-radius: 10px;
  background-color: #828282;
  padding: 20px 28px;
}

.hero__two_link {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.5px;
  border-radius: 10px;
  background-color: #b6b6b6;
  margin-left: 20px;
  padding: 20px 28px;
}

#feature {
  padding-bottom: 84px;
}

.feature__container {
  max-width: 730px;
  text-align: center;
}

.feature__title {
  color: #828282;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 16px;
}

.feature__text {
  color: #828282;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 80px;
}

.feature__btn_box {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #c8c8c8;
}

.feature__link {
  color: #747474;
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.5px;
  padding-bottom: 32px;
}

.feature__link--active {
  border-bottom: 4px solid #888;
}

.bookmark__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookmark__content {
  max-width: 635px;
}

.bookmark__title {
  color: #828282;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 25px;
}

.bookmark__text {
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 40px;
}

.bookmark__link {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.5px;
  border-radius: 10px;
  background-color: #828282;
  padding: 20px 28px;
}/*# sourceMappingURL=main.css.map */