.bookmark__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookmark__content {
  max-width: 635px;
}

.bookmark__title {
  color: #828282;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 25px;
}

.bookmark__text {
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 40px;
}

.bookmark__link {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.5px;
  border-radius: 10px;
  background-color: #828282;
  padding: 20px 28px;
}
